.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 30px;
  margin-bottom: 40px;
  z-index: 15;
  position: relative;
}

.icon-image {
  width: 100px;
  height: 110px;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.icon-image:hover {
  transform: scale(1.1);
}
