/* src/Components/FilmList.css */

.film-list-container {
  padding: 0;
}

.film-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 8px 0;
  border-bottom: 1px solid #111;
}

.list-poster-wrapper {
  flex-shrink: 0;
  margin-right: 12px;
}

.list-poster {
  width: 60px;
  height: 90px;
  border-radius: 6px;
  object-fit: cover;
  background: #333;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.missing-poster-list {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #acacac;
  font-size: 1.1rem;
  font-weight: bold;
}

.list-info {
  display: flex;
  flex-direction: column;
}

.list-title {
  font-weight: 500;
  font-size: 1rem;
}

.list-rating {
  font-size: 0.85rem;
  color: #acacac;
  margin-top: 4px;
}